<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color: rgb(219, 216, 216);">
    <nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Blogs</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                  <div class="card-body">
                      <form method="POST"  action="{% url 'editBlog' pk=blogs.id %}">
                          {% csrf_token %}
                          <div class="form-floating">
                              <textarea style="height: 350px;" name="blog_desc" class="form-control" value="{{blogs.description}}" id="floatingTextarea2" rows="50" cols="50">{{blogs.description}}</textarea>
                          </div>       
                          <button style="margin-top: 10px;" type="submit" class="btn btn-outline-dark btn-sm">Update</button>             
                      </form>
                  </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>